<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BezierPathTry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4476B3991E1E3B780073166A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4476B3B21E1E3B780073166A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4476B3BD1E1E3B780073166A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
